.des
{
    color:#e0797e ;
}
.btn
{
    background-color:#e0797e ;
    color: white;
    font-size: 19px;
}
.box
{
    background-color:#fae5e7 ;
}

/* Services */
.heading
{
     color:#e0797e
}
.box1
{
   background-color:#ffffff ;
    color: #dd8b8f;
}
/* ceo */
.person
{
    background-color: #dd8b8f;
    
}

.caption
{
    color: #a17678;
}